<div class="interface">

  <!-- 👇 INICIO -- Contenido genereal rooter ------------------------- -->
  <div class="container-fluid h-100">
    <section class="wrapper h-100">

      <!-- 👇 Pantalla inicial --  INICIO ------------------------------ -->
      <div class="row h-100">
        <article class="h-100">
          <div class="col-12 h-100">
            <!-- ==================================================== -->
            <!-- 👇 Contenido frid --  INICIO ------------------------------ -->
            <div class="div-flex">

              <form action="">
                buscador
                <input type="text">

              </form>

            </div>
            <!-- 👆 Contenido frid --  FIN ------------------------------ -->
            <!-- ==================================================== -->
          </div>
        </article>
      </div>
      <!-- 👆 Pantalla inicial --  FIN ------------------------------ -->
    </section>
  </div>
  <!-- 👆 FIN -- Contenido genereal rooter ------------------------- -->
</div>