html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        style(type="text/css", source="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        title Usuarios
    body
        div.container
            div.row
                div
                    h1 TABLA USUARIOS 👨‍🎤

                    table
                        th 
                            td AVATAR
                            td ALIAS
                            td NOMBRE
                            td APELLIDOS
                            td EDAD
                            td EMAIL
                            td PASSWORD
                            td FECHA ALTA
                         
