<div class="nav-top animated fadeInDown">
  <div class="logo">
    <i class="material-icons md-24">pets</i>
  </div>
  <div class="registro">
    <div><strong>Que alegría verte</strong>, ¿quieres <a class=" a-color" href="#" title="iniciar sesión"
        alt="iniciar sesión">
        iniciar
        sesión </a> o <a class="a-color" href="#" title="registrate" alt="registrate"> registrate </a>?</div>
    <div class="avatar">
      <i class="material-icons md-24">pets</i>
    </div>
  </div>
</div>