@import "../../import.scss";
@import "../mapa/mapa.component.scss";

.card-columns {
    column-count: 4;
}
.objetos-muestras {
    width: 100%;
    /* display: grid;
    grid-column: 4; */
    .objeto-muestra-imagen {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 5px;
        border: #ffffff 2px solid;
        display: inline-block;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            width: 90px;
            height: 90px;
            border-radius: $EsquinaRedondeadaMedia;
        }
    }
}

#ModalMapa {
    .modal-dialog {
        max-width: 700px;
    }
    .modal-header {
        border: none;
        @include flexCenter;
        .alias {
            @include flexCenter;
            .avatar {
                width: 50px;
                margin-left: 5px;
                height: auto;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .nombre {
            margin: auto;
        }
    }
    .modal-body {
        padding: 0;
        agm-map {
            height: 500px;
            margin: 0 !important;
            .agm-map-container-inne {
                margin: 0 !important;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #e8d4bd;
                box-shadow: $Sombra;
                transform: scale(1);
                &:hover {
                    transform: scale(4);
                    border: 0px;
                    border-radius: $EsquinaRedondeadaMedia;
                }
            }
        }
    }
}
/* .card-columns {
    .card-objeto {
        @include flexCenter(column, flex-start, stretch);
        background-color: $colorBg;
        border-radius: 15px;
        transform: scale(1);
        overflow: hidden;
        margin-bottom: $spaceMedium;

        .contenido {
            margin: $spaceMedium;
        }
        .datos {
            display: flex;

            .imagen {
                display: inline-table;
                width: 150px;
                height: 150px;
                background-color: red;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .texto {
                .fecha {
                    display: block;
                    padding: 5px;
                    font-size: 0.8rem;
                    background-color: gainsboro;
                    text-align: right;
                }
            }
        }
        .contenido {
        }
        &:hover {
            z-index: 50;
            transform: scale(1.05);
        }
    }
} */
.usuario {
    @include flexCenter(row, flex-end, center);
    img {
        width: 50px;
        margin-left: $spaceSmall;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
    }
}
.list-group-item.fecha {
    @include flexCenter(row, flex-start, center);
    font-size: 0.8rem;
    span {
        margin: 0 $spaceSmall;
        font-size: 1rem;
    }
}
.card-body.botones {
    @include flexCenter();
}
