@import "../../import.scss";
.card-columns {
    column-count: 5;
}
/* .card-columns {
    .card-objeto {
        @include flexCenter(column, flex-start, stretch);
        background-color: $colorBg;
        border-radius: 15px;
        transform: scale(1);
        overflow: hidden;
        margin-bottom: $spaceMedium;

        .contenido {
            margin: $spaceMedium;
        }
        .datos {
            display: flex;

            .imagen {
                display: inline-table;
                width: 150px;
                height: 150px;
                background-color: red;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .texto {
                .fecha {
                    display: block;
                    padding: 5px;
                    font-size: 0.8rem;
                    background-color: gainsboro;
                    text-align: right;
                }
            }
        }
        .contenido {
        }
        &:hover {
            z-index: 50;
            transform: scale(1.05);
        }
    }
} */
.usuario {
    @include flexCenter(row, flex-end, center);
    img {
        width: 50px;
        margin-left: $spaceSmall;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
    }
}
.list-group-item.fecha {
    @include flexCenter(row, flex-start, center);
    font-size: 0.8rem;
    span {
        margin: 0 $spaceSmall;
        font-size: 1rem;
    }
}
.card-body.botones {
    @include flexCenter();
}
