<!-- 👇 Usuario avatar --  INICIO ------------------------------ -->
<div class="menu-usuario-lat">
    <div class="avatar">
        <img src="../../../../assets/img/user-avatar.jpg" title="usuario.alias" alt="usuario.alias">
    </div>
    <div> @alias</div>
    <div> Nombre y apellidos</div>
    <div>objetos perdidos: 5</div>
    <div>objetos encontrados: 6</div>
    <div>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</div>
    <div>eres un mega explorador</div>
    <div>nivel Indiana Jones</div>
</div>
<!-- 👆 Usuario avatar--  FIN ------------------------------ -->