<!-- 👇 Usuario avatar --  INICIO ------------------------------ -->


<div class="menu-usuario-lat">
    <div class="avatar">
        <a class="editar" href="" alt="editar imagen" title="editar imagen"></a>
        <img src="../../../../assets/img/user-avatar.jpg" title="usuario.alias" alt="usuario.alias">
    </div>
    <div class="contenido">
        <h2 class="alias"> <strong>@{{ usuario[id].alias }}</strong></h2>
        <div class="nombre">{{ usuario[id].nombre }} {{ usuario[id].apellidos }}</div>
        <div>objetos perdidos: </div>
        <div>objetos encontrados: </div>
        <div>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</div>
        <div>eres un mega explorador</div>
        <div>nivel Indiana Jones</div>
    </div>
</div>
<!-- 👆 Usuario avatar--  FIN ------------------------------ -->