@import "../../import.scss";

.menu-usuario-lat {
    @include flexCenter(column, center);
    text-align: center;
    .avatar {
        position: relative;
        width: 200px;
        height: 200px;
        box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        margin-bottom: $spaceBig;
        transform: scale(1);
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            box-shadow: 0px 2px 0px 2px rgba(255, 255, 255, 1);
        }
        a.editar {
            @include flexCenter;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);

            &:before {
                content: "create";
                font-family: "Material Icons";
                text-decoration: none;
                color: $colorBgGrisClaro;
                font-size: 2rem;
                transform: rotate(0deg);
                opacity: 0;
                text-shadow: 0px 6px 2px 6px rgba(0, 0, 0, 0.8);
            }
            &:hover {
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.2);
                &:before {
                    font-size: 6rem;
                    transform: rotate(360deg);
                    opacity: 1;
                }
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    .contenido {
        background-color: $colorBg;
        padding: $spaceBig;
        border-radius: $EsquinaRedondeadaMedia;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        .alias {
            margin-bottom: $spaceMedium;
        }
        div {
            margin-bottom: $spaceSmall;
        }
        /* .nombre {
        } */
    }
}
