<!-- <div class="interface interface-flex interface-sinpadding"> -->

<!-- 👇 INICIO -- Contenido genereal rooter ------------------------- -->
<!-- <div class="container-fluid h-100"> -->
<!--<section class="wrapper h-100"> -->
<!-- 👇 Mapa  -- INICIO ------------------------------ -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [fullscreenControl]="true">
    <!-- 👇 Marcadores  -- INICIO ------------------------------ -->
    <agm-marker [latitude]="lat" [longitude]="lng">

    </agm-marker>
    <!-- 👆 Marcadores  --  FIN ------------------------------ -->
</agm-map>
<!-- 👆 Mapa --  FIN ------------------------------ -->
<!--         </section>-->
<!-- </div> -->
<!-- </div> -->