@import "../../import.scss";

/* .pantalla-inicio {
}
 */

/* app-mapa {
  position: absolute;
  top: $anchoMenu;
  left: 0;
  height: 100%;
  display: inline-block;
  width: 100%;

  agm-map {
    height: 100%;
    display: inline-block;
    width: 100%;

    .agm-map-container-inner {
      height: 100% !important;
      display: inline-block;
      width: 100% !important;
      overflow: initial !important;
    }
  }
} */
