@import "../../import.scss";

.contenido-mapa {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 30px;
  width: calc(100% - #{$anchoMenu * 2} - #{$spaceBig * 2});
  margin: $anchoMenu + $spaceBig;
  /* background-color: rgba(255, 255, 255, 0.7); */
  border-radius: $EsquinaRedondeadaMedia;
}

agm-map {
  //--- En _layout.css hay modicficaciones de etilos
  height: calc(100% - #{$anchoMenu * 2});
  .agm-map-container-inner {
    border-radius: $EsquinaRedondeadaMedia;
    margin: 0 50px;
    margin: 0 $anchoMenu;
  }
  .card-ficiticio {
    .card {
      border: 0px;
      position: relative;
      margin-top: 30px;
      text-align: center;
      .imagen {
        @include flexCenter;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        position: absolute;
        top: -130px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $colorBg;
        padding: $spaceSmall;
        overflow: hidden;
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
/* .pantalla-inicio {
}
 */

/* app-mapa {
  position: absolute;
  top: $anchoMenu;
  left: 0;
  height: 100%;
  display: inline-block;
  width: 100%;

  agm-map {
    height: 100%;
    display: inline-block;
    width: 100%;

    .agm-map-container-inner {
      height: 100% !important;
      display: inline-block;
      width: 100% !important;
      overflow: initial !important;
    }
  }
} */
