<div class="nav-usuario-perfil animated fadeInDown">
    <div class="menu">
        <ul>
            <li class="boton">
                <a href="#" alt="" title="">
                    <span class="icono"><i class="material-icons md-24">pets</i></span>
                    <span class="texto">texto</span>
                </a>
            </li>
            <li class="boton">
                <a href="#" alt="" title="">
                    <span class="icono"><i class="material-icons md-24">pets</i></span>
                    <span class="texto">texto</span>
                </a>
            </li>
            <li class="boton">
                <a href="#" alt="" title="">
                    <span class="icono"><i class="material-icons md-24">pets</i></span>
                    <span class="texto">texto</span>
                </a>
            </li>
            <li class="boton">
                <a href="#" alt="" title="">
                    <span class="icono"><i class="material-icons md-24">pets</i></span>
                    <span class="texto">texto</span>
                </a>
            </li>
        </ul>
    </div>
</div>