<!-- 👇 conversaciones --  INICIO ------------------------------ -->
<div class="col-12">
    <div class="usuario-conversacion" style="flex-direction: column;">
        <h1>conversacion</h1>
        <!-- <h2>conversacion Recibidas</h2> -->
        https://getbootstrap.com/docs/4.4/components/media-object/
        <div class="media-body" *ngFor="let con of conversacion">
            <h5 class="mt-0">{{con.asunto}}</h5>
            {{con.ID}} - Emisor: {{con.emisor}} - Receptor {{con.receptor}} <br>
            - {{con.fecha_inicio}}

            <div class="media mt-3" *ngFor="let men of mensajes">
                <a class="mr-3" href="#">
                    <img style="width: 100px; height: 100px;" src="../../../../assets/img/user-avatar.jpg" class="mr-3"
                        alt="...">
                </a>
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    <h5 class="mt-0">{{men.emisor}} dice:</h5>
                    <p>{{men.fecha}}</p>
                    <p>{{men.texto}}</p>
                </div>
            </div>
            <button _ngcontent-mkk-c50="" type="submit" class="btn btn-primary">Responder</button>
        </div>

    </div>
</div>
<!-- 👆 Conversaciones --  FIN ------------------------------ -->