@import "../../import.scss";

.nav-usuario {
    z-index: 100;
    left: auto; //*
    right: 0; //*

    .contenido {
        @include flexCenter(column, flex-start, flex-end);

        /* .menu {
            padding-top: $anchoMenu;
        } */
        .menu {
            padding-top: 1 * $anchoMenu;
            ul {
                li.boton {
                    a {
                        flex-direction: row-reverse;
                        span {
                            &.icono {
                                position: relative;
                                .aviso {
                                    @include positionAbsolute();
                                    color: $colorLlamada;
                                    top: 9px;
                                    left: 25px;

                                    i,
                                    .material-icons {
                                        font-size: 14px;
                                    }
                                }
                            }
                            &.texto {
                                transform: translateX(-5px);
                                text-align: right;
                            }
                        }
                        &::before {
                            left: auto;
                            right: -$spaceSmall;
                        }
                        &.active {
                            color: $colorPrincipal;
                            &::before {
                                left: auto;
                                right: 0;
                            }
                            &:hover {
                                &::before {
                                    right: -$spaceSmall;
                                }
                            }
                        }
                        &:hover {
                            transform: translateX(-$spaceSmall);
                            .icono {
                                transform: translateX(-$spaceSmall) scale(1.2);
                            }
                        }
                    }
                }
            }
            /*        &:hover {
            ul li.boton a.texto {
                font-size: $fontSmall;
                transform: translateX(0);
                opacity: 1;
            }
        } */
        }
    }
}
