@import "../../import.scss";

.nav-usuario {
    z-index: 100;
    left: auto; //*
    right: 0; //*

    .contenido {
        @include flexCenter(column, flex-start, end);
        .menu {
            padding-top: $anchoMenu;
        }
        ul {
            li.boton {
                a {
                    flex-direction: row-reverse;
                    &:hover {
                        transform: translateX(-$spaceSmall);
                    }
                }
                &::before {
                    left: auto;
                    right: 0;
                }
                .icono {
                    position: relative;
                    .aviso {
                        @include positionAbsolute();
                        color: $colorLlamada;
                        top: 9px;
                        left: 28px;

                        i {
                            font-size: 14px;
                        }
                    }
                }

                .texto {
                    transform: translateX(14px);
                    text-align: right;
                }
            }
        }
        &:hover {
            width: 150px;
            ul li.boton .texto {
                font-size: $fontSmall;
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}
