<!-- Menú principal de navegación entre las secciónes de la web/api-->

<nav class="navegacion nav-usuario">
    <div class="contenido">
        <div class="avatar">
            <span class="material-icons">
                <img src="" title="" alt="">
            </span>
        </div>

        <div class="menu">

            <ul>
                <li class="boton">
                    <a href="#" alt="" title="">
                        <span class="icono"><i class="material-icons md-24">pets</i></span>
                        <span class="texto">texto</span>
                    </a>
                </li>
                <li class="boton">
                    <a href="#" alt="" title="">
                        <span class="icono"><i class="material-icons md-24">face</i></span>
                        <span class="texto">texto</span>
                    </a>
                </li>
                <li class="boton">
                    <a href="#" alt="" title="">
                        <span class="icono"><i class="material-icons md-24">face</i></span>
                        <span class="texto">texto</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>