@import "../../import.scss";

.img-responsive {
    img {
        width: 100%;
        height: auto;
    }
}
/* .interface {
    background-color: $colorPrincipalClaro;
    color: $colorBgGrisClaro;
} */
