<div class="interface">
    <!-- 👇 INICIO -- Contenido genereal rooter ------------------------- -->
    <div class="container-fluid h-100">
        <section class="wrapper h-100">
            <!-- 👇 login usuario --  INICIO ------------------------------ -->
            <div class="col-12 h-100">
                <div class="login-inicio">
                    <h1>Login</h1>
                    <!--         <form (ngForm)="LoginForm" #myForm="ngForm" (ngSubmit)="sendForm()">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input [(ngModel)]="username" name="username" type="text" class="form-control form-control-lg"
                    type="text" placeholder="nombre">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input [(ngModel)]="email" name="email" type="text" class="form-control form-control-lg" type="text"
                    placeholder="email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Contraseña</label>
                <input [(ngModel)]="password" name="password" type="text" class="form-control form-control-lg"
                    type="text" placeholder="contraseña">
            </div>
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!<a href="#" class="alert-link">an example link</a>.
            </div>
            <div>¿te has olvidado de la contraseña?</div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->
                    <!-- 👆 login usuario --  FIN ------------------------------ -->

                    <!-- 👇 registrarse usuario --  INICIO ------------------------------ -->
                    <div class="usuario-perfil">
                        <h1>Registro</h1>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input type="text" class="form-control form-control-lg" type="text"
                                    placeholder="usuario.nombre">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Apellidos</label>
                                <input type="text" class="form-control form-control-lg" type="text"
                                    placeholder="usuario.apellidos">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Alias</label>
                                <input type="text" class="form-control form-control-lg" type="text"
                                    placeholder="usuario.alias">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="text" class="form-control form-control-lg" type="text"
                                    placeholder="usuario.alias">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="email" class="form-control">
                            </div>



                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- 👆 registrarse usuario --  FIN ------------------------------ -->
                </div>
            </div>
        </section>
    </div>
</div>