html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  padding: 0 !important;
}
.modal-open {
  overflow: auto !important;
}
.modal {
  padding-right: 0px !important;
}
.interface {
  min-height: calc(100% - #{$anchoMenu * 2});
  max-height: max-content;
  padding: ($anchoMenu * 2) $anchoMenu;
  margin: 0 $anchoMenu;
  border-radius: $EsquinaRedondeadaMedia;
  background-color: $colorBgGrisClaro;
  /* overflow: hidden; */
  &.interface-flex {
    @include flexCenter;
  }
  &.interface-sinpadding {
    padding: 0;
  }
}

section {
  position: relative;
}
app-root {
  width: 100%;
}
.wrapper {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

article,
article > div,
div-flex {
  @include flexCenter;
  width: 100%;
  height: 100%;
}
//mapa agm------------------------------------------------
.gm-style-iw-t {
  bottom: 56px !important;
}
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-d {
  overflow: initial !important;
  padding-top: 20px;
}

button.gm-ui-hover-effect {
  background-color: $colorPrincipal !important;
  color: $colorBg !important;
  border-radius: 50%;
  &:hover {
    background-color: $colorPrincipalHover !important;
  }
}

@import "_estilos-texto";
@import "_animacion";
