html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.interface {
  height: 100%;
  padding: $anchoMenu;
  margin: 0;
  overflow: hidden;
}
.wrapper {
  height: 100%;

  /*   width: 100%;
  
  .container-fluid,
  .row {
    padding: 0;
    margin: 0;
    height: 100%;
  } */
}
.container-fluid {
  height: 100%;
}
.row {
  background-color: $colorBgGrisClaro;
  border-radius: $EsquinaRedondeadaMedia;
}
article {
  @include flexCenter;
  width: 100%;
  height: 100%;
}
@import "_estilos-texto";
@import "_animacion";
