html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
}
.interface {
  min-height: calc(100% - #{$anchoMenu * 2});
  max-height: max-content;
  padding: ($anchoMenu * 2) $anchoMenu;
  margin: 0 $anchoMenu;
  border-radius: $EsquinaRedondeadaMedia;
  background-color: $colorBgGrisClaro;
  /* overflow: hidden; */
  &.interface-flex {
    @include flexCenter;
  }
  &.interface-sinpadding {
    padding: 0;
  }
}
agm-map {
  height: calc(100% - #{$anchoMenu * 2});

  .agm-map-container-inner {
    border-radius: $EsquinaRedondeadaMedia;
    margin: 0 50px;
    margin: 0 $anchoMenu;
  }
}
section {
  position: relative;
}
app-root {
  width: 100%;
}
.wrapper {
  height: 100%;

  /* width: 100%;
  
  .container-fluid,
  .row {
    padding: 0;
    margin: 0;
    height: 100%;
  } */
}
/* section {
} */
.container-fluid {
  height: 100%;
}
/* agm-map {
  height: 500px;
} */
/* app-mapa {
  position: absolute;
  top: $anchoMenu;
  left: 0;
  height: 100%;
  display: inline-block;
  width: 100%;

  agm-map {
    height: 100%;
    display: inline-block;
    width: 100%;

    .agm-map-container-inner {
      height: 100% !important;
      display: inline-block;
      width: 100% !important;
      overflow: initial !important;
    }
  }
} */
/* .row {
} */
article,
article > div,
div-flex {
  @include flexCenter;
  width: 100%;
  height: 100%;
}
@import "_estilos-texto";
@import "_animacion";
/* app-inicio {
  height: 100%;
  background: red;
  display: inline-block;
  width: 100%;
}
google-map {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  display: inline-block;
  .map-container {
    display: inline-block;
    position: relative;
    height: 100% !important;
    width: 100% !important;
  }
}
 */
