.navegacion {
  z-index: 100;
  @include positionAbsolute;
  position: fixed;
  display: inline-block;
  height: 100%;
  /* box-shadow: 19px 0px 12px -6px rgba(194, 194, 194, 1); */
  .contenido {
    @include flexCenter(column, space-between, flex-start);
    width: $anchoMenu;
    height: 100%;
    overflow: hidden;
    background-color: $colorBg;
    .logo,
    .avatar {
      @include flexCenter;
      width: $anchoMenu;
      height: $anchoMenu;
      padding: 5;

      img {
        width: 100%;
        height: auto;
      }
    }
    .avatar {
      img {
        border-radius: 50%;
        margin: $spaceSmall;
        background-color: $colorFontBaseGris;
      }
    }
    .menu {
      width: 3 * $anchoMenu;
      padding-top: 2 * $anchoMenu;

      ul {
        @include BorrarLista;
        width: 100%;
        li.boton {
          display: block;
          width: 100%;
          position: relative;
          a {
            position: relative;
            display: flex;
            color: $colorFontBase;
            text-decoration: none;
            height: $anchoMenu;
            flex-wrap: nowrap;
            transform: translateX(0);
            span {
              @include flexCenter;
              &.icono {
                width: $anchoMenu;
                transform: scale(1);
              }
              &.texto {
                font-size: $fontSmaller;
                line-height: 1rem;
                transform: translateX(-14px);
                opacity: 0;
              }
            }

            &::before {
              @include contentVacio;
              width: 0px;
              height: 100%;
              background-color: $colorBg;
              top: 0;
              left: 0;
            }

            &:hover {
              color: $colorPrincipalHover;
              //background-color: $colorPrincipalHover;

              .icono {
                width: $anchoMenu;
                transform: translateX($spaceSmall) scale(1.2);
              }
              .texto {
                padding: 0 $spaceSmall;
                /* font-weight: $fontBold; */
                transform: translateX($spaceSmall);
              }
              &::before {
                width: $spaceSmall;
                background-color: $colorPrincipalHover;
              }
            }
            &.active {
              color: $colorPrincipal;
              pointer-events: none;
              &::before {
                background-color: $colorPrincipal;
                width: $spaceSmall;
                left: 0;
              }
            }
          }
        }
      }
    }
    .footer {
      .icono_info {
        transform: rotate(180deg);
      }
    }
    &:hover {
      width: 150px;
      .menu ul li.boton .texto {
        font-size: $fontSmall;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
