/*Espacios -------------------------------------  */
$spaceSmall: 7px;
$spaceMedium: 15px;
$sapceBig: 30px;
$color: red;
/*Interface ---*/
$anchoMenu: 100px;

/*tipografías --------------------------------------
$fontFamilyTitulo: ... ;
$fontFamilySubtitulo: ... ;
$fontFamilyParrafo: $colorGrisClaroAlto ;*/
$fontSizeInicialAjuste: 10px;
$fontSmaller: 1.2rem;
$fontSmall: 1.4rem;
$fontMedium: 1.6rem;
/*Colores --------------------------------------
$colorPrincipal: #...;
$colorPrincipalClaro: #...;
$colorPrincipalHover: #...;
$colorSecundario: #...;
$colorSecundarioClaro: #...;
$colorSecundarioHover: #...;
$colorTerciario: #...;
$colorTerciarioClaro: #...;
$colorTerciarioHover: #...;

$colorBlanco: #...;
$colorBlancoMedio: #...;

$colorGrisOscuro: #...;
$colorGrisClaroAlto: #...;
$colorGrisClaroBajo: #...;

$colorFontPrincipal: #...;
$colorFontTitulo: $colorFontPrincipal;
$colorFontSecundario: #...;
$colorFontParrafo: $colorFontSecundario;

$colorBg: #...;
$colorBgDestacado: #...;
$colorGRadiente: radial-gradient(circle, rgba(x,x,x,o) d%, rgba(y,y,y,o) d%);

$colorIcono: $colorPrincipal;
*/

/*Enlaces --------------------------------------
$colorLink: #...;
$colorLinkHover: #...;

$colorBoton: #...;
$colorBotonHover: #...;
...*/
